<nav class="bg-black text-white flex items-center flex-row px-3">
  <div class="flex flex-col items-center basis-1/12">
    <a routerLink="/" class="flex flex-col items-center">
      <img src="assets/images/LogoBanditos.jpg" alt="Banditos Logo" class="h-12">
      <p class="text-sm text-nowrap">Banditos Gaming Store</p>
    </a>
  </div>

  <ul class="flex space-x-3 text-lg items-center justify-center w-full basis-4/5 ">
    <li class="hover:bg-slate-100 rounded-md py-2">
      <a routerLink="/" class="text-current px-2 py-2 hover:text-black">Home</a>
    </li>
    <li class="hover:bg-slate-100 rounded-md py-2">
      <a routerLink="/productos" class="text-current px-2 py-2 hover:text-black">Productos</a>        
    </li>
    <li class="hover:bg-slate-100 rounded-md py-2">
      <a routerLink="/contacto" class="text-current px-2 py-2 hover:text-black ">Contacto</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>