<div class="container mx-auto">

  <h1 class="text-5xl text-white text-center my-3">Banditos Gaming Store</h1>

  <div class="flex justify-center">
    <div class="w-2/5 items-center justify-center mx-auto block max-w-5xl p-3 rounded-md">
      <img src="assets/images/banner.webp" class="img-fluid rounded-md" alt="Banner">
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 py-5 justify-center">
    <div class="text-center">
      <img src="assets/images/TLoZ.webp" alt="" class="w-full h-5/6 p-2 rounded-lg shadow-sm shadow-slate-50 ">
      <p class="text-lg font-bold text-white">Mundo Abierto</p>
    </div>

    <div class="text-center">
      <img src="assets/images/CoDMWII.jpg" alt="" class="w-full h-5/6 p-2 rounded-lg border-gray-400 shadow-sm shadow-slate-50 ">
      <p class="text-lg font-bold text-white">Shooters</p>
    </div>

    <div class=" text-center">
      <img src="assets/images/pacman.jpg" alt="" class="w-full h-5/6 p-2 rounded-lg border-gray-400 shadow-sm shadow-slate-50">
      <p class="text-lg font-bold text-white">Arcade</p>
    </div>

    <div class="text-center">
      <img src="assets/images/minecraft.webp" alt="" class="w-full h-5/6 p-2 rounded-lg border-gray-400 shadow-sm shadow-slate-50">
      <p class="text-lg font-bold text-white">Supervivencia</p>
    </div>

    <div class="text-center">
      <img src="assets/images/fifa24.webp" alt="" class="w-full h-5/6 p-2 rounded-lg border-gray-400 shadow-sm shadow-slate-50">
      <p class="text-lg font-bold text-white">Deportes</p>
    </div>
  </div>
</div>



